tensorflow==2.5.3
numpy==1.19.5
chess==1.5.0
python-chess==1.999
pandas==1.4.4
scikit-learn==1.0.2
python-dotenv==0.21.0
pymongo==3.11.4
seaborn==0.12.2
matplotlib==3.3.4
h5py==3.1.0
keras-nightly==2.5.0.dev2021032900
tensorboard==2.11.2